@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Indie+Flower&family=Mochiy+Pop+One&family=Poppins:wght@500&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
p{
    color:#5D6D7E;
}
td
{
    width:50%;
}
#utente{
    text-align: center;
}
#imgRistorante
{
    text-align:center;
}
#infoRistorante
{
    font-size: 20px;
    text-align:center
}
#container
{
    font-size: 20px;  
}
#infoCovid
{
    font-size: 20px;
}
#infoOrari
{
    font-size: 20px;
    text-align:center
    /*margin-top: 30px;*/
}
#infoSocial
{
    font-size: 20px;
    text-align:center
    /*margin-top: 20px;*/
}
.card-img-top
{
    max-width: 314px;
}
body
{
    background-color: white;
    line-height: 1.5;
    font-family:'Mochiy Pop One', sans-serif;
}
h3
{
    color:#6CC8F3;
}
.userForm
{
    width: 70%;
    padding: 10px;
    border-radius: 5px;    
}
.center
{
    display: flex;
    justify-content: center;
}
.output img
{
    max-width: 200px;
}
.card img
{
    border-radius: 1rem 1rem 1rem 1rem; 
	height: 209px;
}
.navbar
{
    background-color: #88CCD1;
}
.check{
    border: 2px solid #59A0F8;
    color:#0D727A;
}
.check{
    border: 2px solid #59A0F8;
	color:#59A0F8;
    background:white;
	cursor:pointer;
}
.check:hover{
    background:#59A0F8;
	color:white;
}
.delete
{
    color:#629BB9;
}
.delete:hover
{
    color:#FC3B32;
}
.formLogin input[type="email"],.formLogin input[type="password"]
{
	border: 2px solid #59A0F8;
    color:#0D727A;
}
.formLogin input[type="email"]:focus,.formLogin input[type="password"]:focus
{
	border-color:#6CC8F3;
}
.formLogin input[type="submit"]
{
	border: 2px solid #59A0F8;
	color:#59A0F8;
    background:white;
	cursor:pointer;
}
.formLogin input[type="submit"]:hover
{
	background:#59A0F8;
	color:white;	
}
.formLogin input:-webkit-autofill,
.formLogin input:-webkit-autofill:hover, 
.formLogin input:-webkit-autofill:focus,
.formLogin textarea:-webkit-autofill,
.formLogin textarea:-webkit-autofill:hover,
.formLogin textarea:-webkit-autofill:focus,
.formLogin select:-webkit-autofill,
.formLogin select:-webkit-autofill:hover,
.formLogin select:-webkit-autofill:focus 
{
  -webkit-text-fill-color:#0D727A;
  -webkit-box-shadow: 0 0 0px 1000px white inset;  
}
.opzioni,.formRegister input[type="email"],.formRegister input[type="password"],.formRegister input[type="text"],.formRegister input[type="tel"],.formRegister input[type="month"],.formRegister input[type="number"],.formRegister input[type="file"],.formRegister input[type="datetime-local"]
{
	border: 2px solid #59A0F8;
    color:#0D727A;
}
.opzioni:focus,.formRegister input[type="email"]:focus,.formRegister input[type="password"]:focus,.formRegister input[type="text"]:focus,.formRegister input[type="tel"]:focus,.formRegister input[type="month"]:focus,.formRegister input[type="hidden"]:focus,.formRegister input[type="datetime-local"]:focus
{
	border-color:#6CC8F3;
}
.formRegister input[type="submit"]
{
	border: 2px solid #59A0F8;
	color:#59A0F8;
    background:white;
	cursor:pointer;
}
.formRegister input[type="submit"]:hover
{
	background:#59A0F8;
	color:white;	
}
formRegister select
{
    border: 2px solid #59A0F8;
}
.formRegister input:-webkit-autofill,
.formRegister input:-webkit-autofill:hover, 
.formRegister input:-webkit-autofill:focus,
.formRegister textarea:-webkit-autofill,
.formRegister textarea:-webkit-autofill:hover,
.formRegister textarea:-webkit-autofill:focus,
.formRegister select:-webkit-autofill,
.formRegister select:-webkit-autofill:hover,
.formRegister select:-webkit-autofill:focus 
{
  -webkit-text-fill-color:#0D727A;
  -webkit-box-shadow: 0 0 0px 1000px white inset;  
}
.size{
    font-size: 30px;
}
a{
    color:white;
}
h1, h2
{
    color:#0078af;
}
label
{
    color:#0078af;
}
.link:hover{
    color:#59A0F8;
}
.bottom-right
{
    width: 70px;
    height: 70px; 
    font-size: 36px;   
    position:fixed;
    bottom:0;
    right:0;
    background-color: white;
}
.badge 
{
    position: absolute;
    top: -15px;
    right: -5px;
    padding: 3px 8px;
    border-radius: 50%;
    background: red;
    color: white;
}
.quickCart
{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
    background-color: white;
    color:#0D727A;
    margin: 0 auto;
    position:center;
}
.quickCart td, th 
{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
.quickCart tr:nth-child(even) 
{
    background-color: #dddddd;
}

.container{
    max-width: 1800px;
    margin:auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer{
    background-color: #34495E ;/*24262b */
    padding: 70px 0;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color:#ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #59A0F8;/*e91e63*/
    height: 3px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 20px;
    text-transform: capitalize;
    color:#ffffff;
    text-decoration: none;
    font-weight: 300;
    color:#bbbbbb;
    display:block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color:#59A0F8;
    padding-left: 8px
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color:#59A0F8;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color:#24262b;
    background-color: #ffffff;
}
/*responsive*/
@media(max-width: 767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media(max-width: 574px){
    .footer-col{
        width: 100%;
    }
} 
@media(max-width: 1100px){
    #info td{
        display: block;
        width: 100%;
    }
} 